// ----------
// Config File
// ----------

$base: 16px;

// Colors
$color: #000000;  // font
$link: #2980b9;  // links
$hover: #34495e;

//navbar
$nav-color: #f1c40f;
$nav-hover: #e67e22;

//Backgrounds
$background: #ffffff;
$header-background: #2980b9;
$footer-background: #2f3640;

// Fonts
$font: 'Titillium Web', sans-serif;

// header
$header-text-align: right;

// Border

// breakpoints
$breakpoints: (
  small:    767px,
  medium:   992px,
  large:    1200px,
  xlarge:   1400px,
);
