// ----------------
// only for testing
// ----------------
.header {background: #eee;} .aside {background: green;} .footer {background: black;}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.with-sidebar {
  display: flex;
}
